In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cv_dataset.csv")
df.head()

   age  income  spending_score  tenure_years  transactions_per_month  target
0   56   23343              17             4                      25       1
1   69   33500              13            10                       5       1
2   46   73222              84             7                       3       0
3   32   49375              25            10                      27       0
4   60   29662              68             3                       1       1

In [3]:
X = df.drop("target", axis=1)
y = df["target"]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score

model = LogisticRegression(max_iter=1000)

kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(model, X_train_scaled, y_train, cv=kf)

cv_scores

array([0.525 , 0.475 , 0.475 , 0.5125, 0.5625])

In [7]:
print("CV Accuracy Scores:", cv_scores)
print("Mean CV Accuracy:", cv_scores.mean())

CV Accuracy Scores: [0.525  0.475  0.475  0.5125 0.5625]
Mean CV Accuracy: 0.51

In [8]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
stratified_scores = cross_val_score(
    model, X_train_scaled, y_train, cv=skf
)

stratified_scores

array([0.5   , 0.5   , 0.6125, 0.5   , 0.3875])

In [9]:
print("Stratified CV Accuracy:", stratified_scores)
print("Mean Stratified CV Accuracy:", stratified_scores.mean())

Stratified CV Accuracy: [0.5    0.5    0.6125 0.5    0.3875]
Mean Stratified CV Accuracy: 0.5

In [10]:
model.fit(X_train_scaled, y_train)
test_accuracy = model.score(X_test_scaled, y_test)

test_accuracy

0.41